maps_source/Mission 1/*.bak
maps_source/Mission 2/*.bak
maps_source/Mission 3/*.bak
maps_source/Mission 4/*.bak
maps_source/Mission 5/*.bak
maps_source/Mission 6/*.bak
maps_source/Mission 7/*.bak
